# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [7]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
print(a)
b = a.capitalize()
print(b)
print(a)
print()

print(a)
b = a.title()
print(b)
print(a)
print()

print(a)
b = a.upper()
print(b)
print(a)
print()

hI! Everyone, I'm kim
Hi! everyone, i'm kim
hI! Everyone, I'm kim

'Hi'Hi'
hI! Everyone, I'm kim
Hi! Everyone, I'M Kim
hI! Everyone, I'm kim

hI! Everyone, I'm kim
HI! EVERYONE, I'M KIM
hI! Everyone, I'm kim

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대 ↔ 소문자로 변경하여 반환합니다.

In [8]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

print(a)
b = a.lower()
print(b)
print(a)
print()

print(a)
b = a.swapcase()
print(b)
print(a)
print()

hI! Everyone, I'm kim
hi! everyone, i'm kim
hI! Everyone, I'm kim

hI! Everyone, I'm kim
Hi! eVERYONE, i'M KIM
hI! Everyone, I'm kim

### **`.join(iterable)`**

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

In [15]:
# 아래에 코드를 작성하세요.
a = ['a', 'b', 'c']

b = ''.join(a)
c = ' '.join(a)

print(b)
print(c)

abc
a b c

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [18]:
# 아래에 코드를 작성하세요.
d = b.replace('a', 'b')

print(b, d)

abc bbc

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백(' ', '\n', '\t')을 제거합니다.

In [21]:
# 아래에 코드를 작성하세요.
str_a = '    abc    ss   '
print(str_a.lstrip(),1)
print(str_a.rstrip(),1)
print(str_a.strip(),1)


str_a = '    abc    ss   \n'
print(str_a.lstrip(),1)
print(str_a.rstrip(),1)
print(str_a.strip(),1)

abc    ss    1
    abc    ss 1
abc    ss 1
abc    ss
 1
    abc    ss 1
abc    ss 1

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [27]:
# 아래에 코드를 작성하세요.
'ssafy'.find('f')
'ssafy'.find('s')
'ssafy'.find('s',1)

1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [29]:
# 아래에 코드를 작성하세요.
'ssafy'.index('f')
'ssafy'.index('s')
'ssafy'.index('s',1)

1

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [30]:
# 아래에 코드를 작성하세요.
'this is ssafy!'.split(' ')

['this', 'is', 'ssafy!']

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

```python
dir('string')
```

In [ ]:
.isalpha()
.isdecimal()
.isdigit()
.isnumeric()
.isspace()
.issuper()
.istitle()
.islower()

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [ ]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

In [ ]:
# 값을 추가해봅시다.

In [ ]:
# 어렵게 넣어보도록 해봅시다.

### `.extend(iterable)`

리스트에 **iterable(list, range, tuple, string*유의*)** 값을 붙일 수가 있습니다. +와 동일

In [32]:
# 앞서 만든 리스트에 추가해봅시다.

a = [1,2,3]
b = 'abc'
# a+b 오류
a+[b]

[1, 2, 3, 'abc']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [ ]:
# append와 비교해봅시다.

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [34]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
a.insert(0,'0')
print(a)

['0', '0', 1, 2, 3]

In [35]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
a.insert(len(a),'0')
print(a)

['0', '0', 1, 2, 3, '0']

In [36]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
a.insert(1000,'0')
print(a)

['0', '0', 1, 2, 3, '0', '0']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [37]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [38]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)

In [39]:
# 한번 더 삭제해봅시다.
numbers.remove(1)

In [40]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [43]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [44]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
print(numbers.pop(0))
print(numbers)

1
[2, 3, 4, 5, 6]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [ ]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]

In [ ]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [48]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]

In [49]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
target = 1
def list_remover(list1, target):
    
    for i in range(list1.count(target)):
        list1.remove(target)
    return list1
    
print(list_remover(numbers,target))

target = 5
while target in numbers:
    numbers.remove(target)

[2, 5, 5]

In [50]:
# 모두 삭제되었는지 검증해봅시다.
print(numbers)

[2]

### `.sort()`

정렬을 합니다. 

`sorted()`와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [51]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[28, 41, 9, 20, 31, 35]

In [52]:
# sort를 사용해봅시다.
print(sorted(lotto))
print(lotto)
print(lotto.sort())
print(lotto)

[9, 20, 28, 31, 35, 41]
[28, 41, 9, 20, 31, 35]
None
[9, 20, 28, 31, 35, 41]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [53]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

## 복사

In [54]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]
a = original_list
b = original_list
print(id(a))
id(b)

90267976

In [ ]:
# b의 값을 바꾸고 a를 출력해봅시다.

In [ ]:
# id 값을 확안해봅시다.

In [ ]:
# 숫자를 확인해봅시다.

In [ ]:
# 딕셔너리도 확인해봅시다.

### copy
> [pythontutor](http://pythontutor.com/visualize.html#code=lunch%20%3D%20%7B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%3A%20'%EC%B9%98%EC%A6%88%EB%9D%BC%EB%A9%B4',%20'%EA%B9%80%EA%B0%80%EB%84%A4'%3A%20'%EC%A0%9C%EC%9C%A1%EB%B3%B6%EC%9D%8C'%7D%0Aprint%28lunch%29%0Adinner%20%3D%20lunch%0Adinner%5B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%5D%20%3D%20'%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5'%0Aprint%28lunch%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 num이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [ ]:
# 리스트를 복사해봅시다.

In [ ]:
# 다른 방법으로 복사해봅시다.

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [ ]:
# 2차원 배열을 복사해봅시다.

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다.
import copy from deepcopy
deepcopy

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [1]:
numbers = range(1, 11)

In [2]:
# 기존의방법
cube_numbers = []
for i in numbers:
    cube_numbers.append(i**3)
print(cube_numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [3]:
# List Comprehension
cube_numbers2 = [x**3 for x in numbers]
print(cube_numbers2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
numbers = range(1, 11)

In [7]:
# 기존의방법
even_list = []
for i in numbers:
    if i % 2 - 1:
        even_list.append(i)
        
print(even_list)

[2, 4, 6, 8, 10]

In [6]:
# List Comprehension
even_list2 = [x for x in numbers if x % 2 -1]
print(even_list2)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [8]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [12]:
# 반복문을 활용하여 만들어주세요.
pair = []
for boy in boys:
    for girl in girls:
        pair.append((boy, girl))
        
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [17]:
# List comprehension을 활용하여 만들어주세요.
pair2 = [(boy, girl) for boy in boys for girl in girls]
print(pair2)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [19]:
# 반복문을 활용하여 만들어주세요.

num_pita = []

for x in range(1,50):
    for y in range(x+1,50):
        for z in range(y+1,50):
            if x**2+y**2-z**2 ==0:
                num_pita.append((x,y,z))
print(num_pita)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [21]:
# List comprehension을 활용하여 만들어주세요.
num_pita2 = [(x,y,z) for x in range(1,50) for y in range(x+1,50) for z in range(y+1,50) if x**2+y**2-z**2 ==0]
print(num_pita)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [24]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
pop_char = ['a', 'e', 'i', 'o', 'u']

pop_words = [x for x in words if words if x.lower() not in pop_char ]
print("".join(pop_words))

Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [ ]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [37]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict.update(apple= '사과아아')
print(my_dict)

change_dic = {'apple': 1, 'banana': 2, 'melon': 3}

my_dict.update(change_dic)
print(my_dict)

{'apple': '사과아아', 'banana': '바나나', 'melon': '멜론'}
{'apple': 1, 'banana': 2, 'melon': 3}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [ ]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [40]:
# dictionary comprehension
cuvic_dict = {x:x**3 for x in range(1,11)}

print(cuvic_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### dictionary comprehension 사용해보기

In [42]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [53]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

dusts_80 = {item[0]:item[1] for item in dusts.items() if item[1]>80}
print(dusts_80)

{'대전': 82, '중국': 200}

In [54]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

dusts2 = {item[0]:'나쁨' for item in dusts.items() if item[1]>80}
dusts2.update({item[0]:'보통' for item in dusts.items() if item[1]<=80})

print(dusts2)

{'대전': '나쁨', '중국': '나쁨', '서울': '보통', '구미': '보통', '광주': '보통'}

In [55]:
# elif 도 사용할 수 있습니다.
dusts3 = { item[0]:'나쁨' if item[1]>80 else '보통'  for item in dusts.items()}

print(dusts3)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [57]:
dusts4 = { item[0]:'매우나쁨' if item[1]>150 else '나쁨' if item[1] >80 else '보통'  for item in dusts.items()}

print(dusts3)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [ ]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 **iterable**한 값을 넣어야합니다.

In [ ]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

### `pop()`

임의의 원소를 제거해 반환합니다.

In [ ]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [59]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [ ]:
# list comprehension

In [ ]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [ ]:
# list comprehension

* function은 사용자 정의 함수도 가능합니다.

In [60]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

print(list(map(cube,numbers)))

[1, 8, 27]

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [ ]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [62]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

In [63]:
a = [1,2,3]
a.append(a.pop(0))
a

[2, 3, 1]

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [ ]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [ ]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [ ]:
def even(n):
    return not n%2

In [ ]:
# 다음의 list comprehension과 동일하다.

In [33]:
import requests
url = 'http://composingprograms.com/shakespeare.txt'
res = requests.get(url)
novel = res.text

remove_char =  ['"',"'",'\n',';','.',',']
for char in remove_char:
    novel2 = novel.replace(char," ")
words = novel.split(' ')
words2 = novel2.split(' ')

print(len(set(words)))
print({x for x in words if len(x)==6 and x == x[::-1]})
print(len(set(words2)))
print({x for x in words2 if len(x)==6 and x == x[::-1]})

41450
{'redder'}
40317
{'redder'}